{% extends "layout.html" %}

{% block title %} Welcome to homepage {% endblock %}

{% block body %}
<h1>Welcome to Homepage!!</h1>
<hr class="px-3"/>
<p>Available routes:</p>
<ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="{{ url_for('hello', { 'name': 'john' }) }}">Hello John!</a></li>
    <li class="list-group-item"><a href="{{ url_for('albums') }}">Albums</a></li>
    <li class="list-group-item"><a href="{{ url_for('search') }}">Search Albums ($_GET)</a></li>
    <li class="list-group-item"><a href="{{ url_for('form') }}">Search Albums ($_POST)</a></li>
    <li class="list-group-item"><a href="{{ url_for('apisearch')}}?q=hire">Api (with $_GET['q']) and error message if q is empty</a></li>
    <li class="list-group-item"><a href="{{ url_for('shop') }}">Bike e-shop</a></li>
    <li class="list-group-item"><a href="{{ url_for('shopdetails', { 'id': '1' }) }}">Bike details</a></li>
    <li class="list-group-item"><a href="{{ url_for('login') }}">Login (session)</a></li>
    <li class="list-group-item"><a href="{{ url_for('dashboard') }}">Dashboard (session)</a></li>
</ul>
{% endblock %}