{{>frontend/components/header.html}}

<h1>Bike e-Shop!</h1>

<hr class="px-3"/>
<div class="container" id="bikes">
    <div class="row g-2">
        {{#bikes}}
        <div class="col-3">
            <a href="/shop/details/{{id}}" style="text-decoration: none;">
            <div class="p-3 border bg-light">
                <h3>🚲 {{name}}</h3>
                <p>{{type}}</p>
            </div>
            </a>
        </div>

        {{/bikes}}
    </div>
</div>

{{>frontend/components/footer.html}}