{{>frontend/components/header.html}}

<h1>Welcome to homepage!</h1>
<hr class="px-3"/>
<p>Available routes:</p>
<ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/hello/john">Hello John!</a></li>
    <li class="list-group-item"><a href="/albums">Albums</a></li>
    <li class="list-group-item"><a href="/search">Search Albums ($_GET)</a></li>
    <li class="list-group-item"><a href="/form">Search Albums ($_POST)</a></li>
    <li class="list-group-item"><a href="/api?q=hire">Api (with $_GET['q']) and error message if q is empty</a></li>
    <li class="list-group-item"><a href="/shop">Bike e-shop</a></li>
    <li class="list-group-item"><a href="/shop/details/1">Bike details</a></li>
    <li class="list-group-item"><a href="/login">Login (session)</a></li>
    <li class="list-group-item"><a href="/dashboard">Dashboard (session)</a></li>
</ul>

{{>frontend/components/footer.html}}